h1,h2,h3 {font-family: Courier;}
h1,h2,h3 {background-color: lightpink;color:white}
p{text-align:center; color:white;}
p{font-family:Courier;}
ul{color:white;}
h1,h2,h3 {border:2px solid black;text-align:center;}
p{text-decoration:overline;text-decoration:underline;}
body{background-image: url(Kyoto-Ryoan-Ji_MG_4512.jpg);background-repeat:no-repeat;background-attachment:fixed;background-size:1500px}
a{color:yellow;}
footer {text-align:center;}